@import 'tailwindcss';

@theme {
  --color-primary-green: #d0ff5f;
  --color-secondary-green: #a1e00d;
  --color-acc-green: #e8fdb8;

  --color-primary-purple: #8d7eff;
  --color-secondary-purple: #402ec7;
  --color-acc-purple: #cec9ff;

  --color-primary-pink: #b97fef;
  --color-secondary-pink: #812ad3;
  --color-acc-pink: #ead2ff;

  --color-background: #202020;
  --color-hint: #ebebeb;
  --color-mint: #202020;
  --color-rock: #7e7e7e;

  --font-inter: 'Inter', sans-serif;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #161616;
}

/* Hide scrollbar globally */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@layer base {
  html {
    @apply text-gray-800 font-inter;
  }
}

li {
  @apply cursor-pointer;
}

.list-space {
  @apply flex gap-2.5 items-center;
}

.scale-hover {
  @apply transition-transform duration-200 hover:scale-130 origin-left;
}

.small-scale-hover {
  @apply transition-transform duration-200 hover:scale-110;
}
